.thumbnail img{
  width:100%;
  max-height:150px;
}
.thumbnail .description{
  color:#999;
}
.thumbnail .price{
  font-weight:bold;
  font-size:12px;
  color:black;
}
.total_price p{
  margin:0;
  font-weight:bold;
  font-size:16px;
}
.total_price span{
  font-weight:bold;
  font-size:24px;
  color:gray;
}
