<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
          <h2><%=title%></h2>

          <div class="row">

          <% products.forEach(function(product) { %>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img src="images/350_150.png" alt="product image">
                <div class="caption clearfix">
                  <h3><%= product.name %> (<%= product.location %>)</h3>
                  <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  <div class="price">Price: Rp.<%= product.price %></div>
                  <p><a href="#" class="btn btn-primary pull-right" role="button">Add to cart</a></p>
                </div>
              </div>
            </div>
          <% }); %>

          </div>

    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

    <% include ../partials/scripts %>
</body>
</html>
